<div class="container">
    <nav class="navbar navbar-expand-lg bg-danger-subtle my-1 border border-danger rounded-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fa-solid fa-house"></i>
            </a>
            <div class="individual-mark d-flex align-items-center">
                <a href=""><h2>21297</h2></a>
            </div>
            <form class="d-flex" role="search" method="GET" action="/movie/search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchKey" value="{{searchKey}}">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
</div>